
html, body{
	margin : 0px;
	padding : 0px;
	font-family : "Helvetica" !important;
	background-image : url(../images/pdf-bg.jpg); 
	background-repeat : repeat-y;
	background-size: 1140px 795px;
	background-position: top left;

 }
 p{
 	font-size: 12px;
 }
 div.page{
	margin : 0px;
	padding : 0px;
	font-size : 13px;
	/*height : 753px;*//*
	background-image : url(../images/report-kanan.jpg); */
	background-repeat : repeat;
} 
div.pageDPT{
	margin : 0px;
	padding : 0px;
	font-size : 13px;/*
	background-image : url(../images/report-kanan.jpg); */
	background-repeat : repeat;
}
div.page table{
	background: #fff;
}
div#first-page{
	position: relative;
	page-break-inside: avoid;
}
div#first-page .certificateWrap{
	width: 1140px;
	/*height : 783px;*/
	position: relative;
}
div#first-page .certificateWrap #logo{
	width: 223px;
	height: 73px;
	position: absolute;
	/*float: right;*/
	right: 0;
	margin: 30px 50px 0 0;
}

div#first-page .certificate{
	width: 640px;
	margin: 0 auto;
	padding: 205px 0 0 100px;
	/*margin: 255px auto 255px auto;*/
}

div#first-page .certificate .certificateTitle{
	margin-bottom: 50px;
	padding-left: 30px;
}
div#first-page .certificate .certificateTitle h1{
	font-weight: 400;
	padding: 0;
	margin: 0;
}
div#first-page .certificate .certificateTitle p{
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #0364ab;
}

div#first-page .certificate .certificateContent{

}
div#first-page .certificate .certificateContent h2{
	border-left: 13px #c9cc10 solid;
	font-size: 36px;
	text-transform: uppercase;
	padding: 10px 0 10px 35px;
	font-weight: 400;
}
div#first-page .certificate .certificateContent h2 span{
	text-transform: capitalize;
}
div#first-page .certificate .certificateContent ul{
	list-style: none;
}
div#first-page .certificate .certificateContent table{
	margin: 0 0 50px 50px;
}
div#first-page .certificate .certificateContent ul li{
	list-style: none;
}
div#first-page .certificate .certificateContent p{
	margin: 75px 0 0 50px;
	font-weight: 500;
	font-size: 16px;
	color: #e22839;
}

div#first-page .certificateFooter{
	width: 1090px;
    position: absolute;
    bottom: 10px;
    padding: 0 25px;
    height: 50px;
}
div#first-page .certificateFooter .txt{
	position: relative;
}
div#first-page .certificateFooter .txt #left{
	/*float: left;*/
	font-size: 10px;
	position: absolute;
	left: 0;
	color: #fff;
}
div#first-page .certificateFooter .txt #right{
	/*float: right;*/
	position: absolute;
	right: 0;
	color: #333;
}



div.second-page{
	/*background : url(../images/report-kanan.png);*/
	/*background-repeat : repeat;*/
	height : 753px;
	page-break-inside : auto;
	position: relative;
}
/*div#second-page:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
	background : url(../images/report-kanan.png);
	background-repeat : repeat;
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}*/
div.table-separator{
	page-break-inside : avoid;
}
table.std-table{
	border-collapse : collapse;
	border : 1px solid #000;
	margin : 15px;
}
table.std-table th{
	color : #fff;
	border : 1px solid #000;
}
table.std-table td{
	background : #fff;
}

.rekapContainer h2{
	margin: 15px 0 0 0;
}
.rekapContainer p{
	font-size: 13px;
}
.rekapContainer table.info{
	min-width: 500px;
	margin: 0 100px;
	font-size: 11px;
}
.rekapContainer table.info span{
	text-transform: capitalize;
}
.rekapContainer table.info td{
	min-width: 200px;
}
.rekapContainer table{
	margin: 15px auto;
}
.rekapContainer table th{
	padding: 5px;
	background: #c0392b;
	border: 1px #c0392b solid;
	color: #fff;
}
.rekapContainer table td{
	padding: 3px;
	font-size: 11px;
	border: 1px #c0392b solid;
}
.rekapContainer table td.nilai{
	text-align: right;
}
.nomorSertifikat{
	text-align: center;
	margin: 5px 0;
}



.scoreTable{
	width: 90%;
	/*padding: 0 5%;*/
	margin: 0 auto;
}
.scoreTable tr td{
	padding: 5px 10px;
}
.scoreTable .doubleBorder td{
	border: 1px solid #c0392b;
    background: #c0392b;
    color: #fff;
}

.borderQuest td{
	border: 1px solid #c0392b;
}
.borderQuest td.radioQuest{
	border-top: none;
	border-bottom: none;
}
.borderQuest:last-child td.radioQuest{
	border-top: none;
	border-bottom: 1px solid #c0392b;
}
.evalQuest td{
	border: 1px solid #c0392b;
}
.scoreTable tr td.textQuestLv2{
	padding-left: 60px;
	font-size: 12px;
}
.scoreTable tr td.textQuestLv1{
	padding-left: 40px;
	font-size: 14px;
	font-weight: bold;
	
}
.subTotalQuest{
	border: 1px solid #c0392b;
}
.totalAllQuest{
	background: #2c3e50;
	color: #fff;
}

.certificateClass{
	text-align: center;
	font-size: 12px;
}
.certificateClass span{
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	display: block;
}

.ttdContainer{
	width: 80%;
	font-size: 12px;
	margin: 20px auto;
}
.ttdContainer p{
	font-size: 13px;
}